In [1]:
import pymongo

In [3]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')  # client will interact with database

In [4]:
database=client['Employee']  # database name 
empinfo=database.employee_information  # collection name

In [5]:
record={
    'name':'Ganesh Raj',
    'age':21,
    'gender':'M'
}


empinfo.insert_one(record) # to insert one record to collection

In [7]:
records=[
    {
        'f_name':'Valayapathy',
        'l_name':'V',
        'age':55
    },
    {
        'f_name':'Rajeswarie',
        'l_name':'V',
        'age':45
    },
    {
        'f_name':'Harish',
        'l_name':'V',
        'age':19
    },
    {
        'f_name':'Ganesh Raj',
        'l_name':'V',
        'age':21
    }
    
]


empinfo.insert_many(records)    # to insert many records

In [8]:
# queries 

# to ge the first doc in collection 

empinfo.find_one()

{'_id': ObjectId('5fb32c48b2b3bf357584e123'),
 'name': 'Ganesh Raj',
 'age': 21,
 'gender': 'M'}

In [10]:
# to get all the records      ----  select * from table_name

empinfo.find()  # type of curser

In [12]:
for rec in empinfo.find():
    print(rec)
    print()

{'_id': ObjectId('5fb32c48b2b3bf357584e123'), 'name': 'Ganesh Raj', 'age': 21, 'gender': 'M'}

{'_id': ObjectId('5fb32cffb2b3bf357584e124'), 'f_name': 'Valayapathy', 'l_name': 'V', 'age': 55}

{'_id': ObjectId('5fb32cffb2b3bf357584e125'), 'f_name': 'Rajeswarie', 'l_name': 'V', 'age': 45}

{'_id': ObjectId('5fb32cffb2b3bf357584e126'), 'f_name': 'Harish', 'l_name': 'V', 'age': 19}

{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [13]:
# to write a query we have to use {} 

for rec in empinfo.find({'f_name':'Ganesh Raj'}):
    print(rec)

{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [17]:
# $in -- ( fetch ages in 19,21,.....)   
# simply same as for i in list


for rec in empinfo.find({'age':{'$in':[19,21,45]}}):    
    print(rec)

{'_id': ObjectId('5fb32c48b2b3bf357584e123'), 'name': 'Ganesh Raj', 'age': 21, 'gender': 'M'}
{'_id': ObjectId('5fb32cffb2b3bf357584e125'), 'f_name': 'Rajeswarie', 'l_name': 'V', 'age': 45}
{'_id': ObjectId('5fb32cffb2b3bf357584e126'), 'f_name': 'Harish', 'l_name': 'V', 'age': 19}
{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [18]:
# less than --- $lt

for rec in empinfo.find({'age':{'$lt':46}}):  # this fetches all rec where age less than 46
    print(rec)

{'_id': ObjectId('5fb32c48b2b3bf357584e123'), 'name': 'Ganesh Raj', 'age': 21, 'gender': 'M'}
{'_id': ObjectId('5fb32cffb2b3bf357584e125'), 'f_name': 'Rajeswarie', 'l_name': 'V', 'age': 45}
{'_id': ObjectId('5fb32cffb2b3bf357584e126'), 'f_name': 'Harish', 'l_name': 'V', 'age': 19}
{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [22]:
# $lt with and operation (,)

for rec in empinfo.find({'l_name':'V','age':{'$lt':46}}):
    print(rec)

{'_id': ObjectId('5fb32cffb2b3bf357584e125'), 'f_name': 'Rajeswarie', 'l_name': 'V', 'age': 45}
{'_id': ObjectId('5fb32cffb2b3bf357584e126'), 'f_name': 'Harish', 'l_name': 'V', 'age': 19}
{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [33]:
# same as above 

for rec in empinfo.find({'$and':[{'l_name':'V'},{'age':{'$lt':46}}]}):
    print(rec)

{'_id': ObjectId('5fb32cffb2b3bf357584e125'), 'f_name': 'Rajeswarie', 'l_name': 'V', 'age': 45}
{'_id': ObjectId('5fb32cffb2b3bf357584e126'), 'f_name': 'Harish', 'l_name': 'V', 'age': 19}
{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [23]:
# using or operation 


for rec in empinfo.find({'$or':[{'f_name':'Ganesh Raj'},{'age':45}]}):
    print(rec)

{'_id': ObjectId('5fb32cffb2b3bf357584e125'), 'f_name': 'Rajeswarie', 'l_name': 'V', 'age': 45}
{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [25]:
# fetching all records using or and less than 


# instead of $or we can also use $and

for rec in empinfo.find({'$or':[{'f_name':'Ganesh Raj'},{'age':{'$lt':60}}]}):
    print(rec)

{'_id': ObjectId('5fb32c48b2b3bf357584e123'), 'name': 'Ganesh Raj', 'age': 21, 'gender': 'M'}
{'_id': ObjectId('5fb32cffb2b3bf357584e124'), 'f_name': 'Valayapathy', 'l_name': 'V', 'age': 55}
{'_id': ObjectId('5fb32cffb2b3bf357584e125'), 'f_name': 'Rajeswarie', 'l_name': 'V', 'age': 45}
{'_id': ObjectId('5fb32cffb2b3bf357584e126'), 'f_name': 'Harish', 'l_name': 'V', 'age': 19}
{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [26]:
for rec in empinfo.find({'$and':[{'f_name':'Ganesh Raj'},{'age':{'$lt':60}}]}):
    print(rec)

{'_id': ObjectId('5fb32cffb2b3bf357584e127'), 'f_name': 'Ganesh Raj', 'l_name': 'V', 'age': 21}

In [27]:
# CEATING NEW COLLECTIONS FROM SAME DATABASE 

store=database.stores # collection name

In [28]:
# creating nested recordssss

store.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [30]:
# fetching the value of records with size -----


for records in store.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('5fb33665b2b3bf357584e128'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [32]:
for records in store.find({'size': {'w': 21,'uom': "cm" }}):
    print(records)

In [ ]:
# Update 

"""
pymongo.collection.Collection.update_one()
pymongo.collection.Collection.update_many()
pymongo.collection.Collection.replace_one()

"""

In [34]:
for rec in store.find():
    print(rec)
    print()

{'_id': ObjectId('5fb33665b2b3bf357584e128'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

{'_id': ObjectId('5fb33665b2b3bf357584e129'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}

{'_id': ObjectId('5fb33665b2b3bf357584e12a'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}

{'_id': ObjectId('5fb33665b2b3bf357584e12b'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}

{'_id': ObjectId('5fb33665b2b3bf357584e12c'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [35]:
store_1 = database.store_1

store_1.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

In [36]:
store_1.update_one({'item':'sketch pad'},{'$set':{'qty':200,'size.h':100,'status':'Done'}})

In [37]:
for i in store_1.find():
    print(i)
    print()

{'_id': ObjectId('5fb3490db2b3bf357584e12d'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}

{'_id': ObjectId('5fb3490db2b3bf357584e12e'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

{'_id': ObjectId('5fb3490db2b3bf357584e12f'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}, 'status': 'A'}

{'_id': ObjectId('5fb3490db2b3bf357584e130'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}, 'status': 'P'}

{'_id': ObjectId('5fb3490db2b3bf357584e131'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'P'}

{'_id': ObjectId('5fb3490db2b3bf357584e132'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}

{'_id': ObjectId('5fb3490db2b3bf357584e133'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}

{'_id': ObjectId('5fb3490db2b3bf357584e134'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

{'_id': ObjectId('5fb3490db2b3bf357584e135'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

{'_id': ObjectId('5fb3490db2b3bf357584e136'), 'item': 'sketch pad', 'qty': 200, 'size': {'h': 100, 'w': 30.5, 'uom': 'cm'}, 'status': 'Done'}

In [38]:
# update many 

store_1.update_many({'qty':{'$lt':200}},{'$set':{'size.w':0,'status':'Not_Done'}})

In [39]:
for i in store_1.find():
    print(i)

{'_id': ObjectId('5fb3490db2b3bf357584e12d'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e12e'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e12f'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e130'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e131'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 0, 'uom': 'in'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e132'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 0, 'uom': 'in'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e133'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e134'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e135'), 'item': 'sketchbook', 'qty': 80, 'size': {'h': 14, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e136'), 'item': 'sketch pad', 'qty': 200, 'size': {'h': 100, 'w': 30.5, 'uom': 'cm'}, 'status': 'Done'}

In [40]:
# replace_one()

store_1.replace_one({'item':'sketchbook'},{'item':'Wood','material':'bamboo'})

In [41]:
for i in store_1.find():
    print(i)

{'_id': ObjectId('5fb3490db2b3bf357584e12d'), 'item': 'canvas', 'qty': 100, 'size': {'h': 28, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e12e'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e12f'), 'item': 'mat', 'qty': 85, 'size': {'h': 27.9, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e130'), 'item': 'mousepad', 'qty': 25, 'size': {'h': 19, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e131'), 'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 0, 'uom': 'in'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e132'), 'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 0, 'uom': 'in'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e133'), 'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e134'), 'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 0, 'uom': 'cm'}, 'status': 'Not_Done'}
{'_id': ObjectId('5fb3490db2b3bf357584e135'), 'item': 'Wood', 'material': 'bamboo'}
{'_id': ObjectId('5fb3490db2b3bf357584e136'), 'item': 'sketch pad', 'qty': 200, 'size': {'h': 100, 'w': 30.5, 'uom': 'cm'}, 'status': 'Done'}