In [1]:
import pymongo

In [4]:
my_client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [5]:
db=my_client['students']

collection_1=db['stu_report']

In [6]:
record = [ 
    {"user":"Raj", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"Python", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Raj",  "title":"Python", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Raj",  "title":"Data Science", "score":95}] 


collection_1.insert_many(record)

In [15]:
agg_sum= collection_1.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [16]:
for agg in agg_sum:
    print(agg)

{'_id': 'Raj', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [17]:
agg_s=collection_1.aggregate([{'$group':{'_id':'$user','total_score':{'$sum':'$score'}}}])

In [18]:
for agg in agg_s:
    print(agg)

{'_id': 'Raj', 'total_score': 250}
{'_id': 'Amit', 'total_score': 235}

In [19]:

agg_avg=collection_1.aggregate([{'$group':{'_id':'$user','Avg Mark':{'$avg':'$score'}}}])

In [20]:
for agg in agg_avg:
    print(agg)

{'_id': 'Raj', 'Avg Mark': 83.33333333333333}
{'_id': 'Amit', 'Avg Mark': 78.33333333333333}

In [22]:
import datetime as datetime

In [23]:
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

In [24]:
collection_2=db['store']

collection_2.insert_many(data)

In [30]:
agg_res=collection_2.aggregate([{'$group':{'_id':'$item',
                                           'Avg':{'$avg':{'$multiply':['$price','$quantity']}},
                                           'avg quantity':{'$avg':'$quantity'}}}])

In [31]:
for i in agg_res:
    print(i)

{'_id': 'xyz', 'Avg': 37.5, 'avg quantity': 7.5}
{'_id': 'jkl', 'Avg': 20.0, 'avg quantity': 1.0}
{'_id': 'abc', 'Avg': 60.0, 'avg quantity': 6.0}

In [32]:
data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [33]:
collection_3=db['coll']
collection_3.insert_many(data)

In [34]:
# project will just display the selected columns 

pro=collection_3.aggregate([{'$project':{'title':1,'copies':1}}])

for i in pro:
    print(i)

{'_id': 1, 'title': 'abc123', 'copies': 5}
{'_id': 2, 'title': 'Baked Goods', 'copies': 2}